/* 스타일 가이드 */

:root {
  /* color */
  --color-black: #1d1d1f;
  --color-white: #FFFFFF;
  --color-gray-1: #f5f7f9;
  --color-gray-2: #d0d7de;
  --color-gray-3: #afb8c1;
  --color-gray-4: #8c959f;
  --color-gray-5: #6e7781;
  --color-gray-6: #57606a;
  --color-gray-7: #24292F;
  --color-background: #E6EDF3;
  --color-primary: #0097B2;

  /* font-size */
  --font-xlarge: 3rem;
  --font-large: 2.5rem;
  --font-medium: 1.5rem;
  --font-regular: 1.125rem;
  --font-small: 1rem;
  --font-micro: 0.875rem;
}